$obsidian-900: hsl(0, 0%, 5%);
$obsidian-800: hsl(0, 0%, 10%);
$obsidian-700: hsl(0, 0%, 15%);
$obsidian-600: hsl(0, 0%, 20%);
$obsidian-400: hsl(0, 0%, 40%);
$obsidian-200: hsl(0, 0%, 60%);
$obsidian-100: hsl(0, 0%, 80%);
$accent: hsl(320, 97%, 23%);
$accent-hover: hsla(320, 97%, 23%, 0.479);

$color-error: hsl(0, 80%, 57%);