@use "../base/variables-panel-admin" as *;

.body_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    padding-top: 0.5rem;
    color: $text-primary;
    text-align: center;
}

.crud {
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 1rem;
    padding: 0 2.5rem;
    min-height: 80vh;
}