@use "../base/variables-panel-admin" as *;

svg {
    background: transparent;
    width: 1.8rem;
    height: 1.8rem;
    fill: $icon-muted;
    transition: fill $transition-fast;
    padding: 0;
    margin: 0;

    &:hover {
        fill: $icon-active;
    }
}