svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--svg-subtle);
    transition: fill var(--transition-mid);
    padding: 0;
    margin: 0;

    &:hover {
        fill: var(--svg-active);
    }
}