@use "../base/variables-panel-admin" as *;

.tooltip {
    position: absolute;
    background-color: hsla(210, 40%, 4%, 0.8);
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: $radius-sm;
    font-size: 0.875rem;
    white-space: nowrap;
    transform: translate(-50%, -140%);
    margin-bottom: 0.25rem;
    opacity: 0;
    transition: opacity $transition-fast;
    z-index: 100;

}

button:hover .tooltip {
    opacity: 1;
}